@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
    @apply scroll-smooth
}

@utility prose {
    code {
        &::before,
        &::after {
            content: none;
        }
    }

    blockquote {
        /* Disable adding quote marks to block-quotes
        * https://github.com/tailwindlabs/tailwindcss-typography/issues/66#issuecomment-1754429609
        */
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }

        @apply not-italic font-[weight:inherit]
    }
}

@theme {
    --animate-wave-in: 0.7s cubic-bezier(0.5, 1, 0.89, 1) 0s 1 both running wave-in;
    @keyframes wave-in {
        0% {transform: rotate(70deg);}
        40% {transform: rotate(-30deg);}
        70% {transform: rotate(20deg);}
        90% {transform: rotate(-10deg);}
    }
}
